/.idea/AndroidProjectSystem.xml
.gitignore
*.iml
.gradle
.claude
.idea
.DS_Store
tv/build
app/build
core/build
/captures
.externalNativeBuild
.cxx
local.properties
/tv/release/output-metadata.json
/tv/release/torrent-player-tv-release.apk
/tv/release/baselineProfiles/0/tv-release.dm
/tv/release/baselineProfiles/1/tv-release.dm
